h1{
    text-align: center;
    font-style: italic;
    background-color: #334d4d;
    color: blanchedalmond;
}

body{
    background-color: cornflowerblue;
}

table{
    font-style: oblique;
    color: black;
}